.cat-slider__wrapper {
  position: relative;
  margin: 0 auto;
  width: 280px;
  height: 232px;

  @media (min-width: $tablet-width) {
    width: 592px;
    height: 511px;
  }
}

.cat-slider__image {
  @media (min-width: $tablet-width) {
    width: auto;
    height: 511px;
  }
}

.cat-slider__image--before {
  @media (min-width: $tablet-width) {
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
  }
}

.cat-slider__image--after {
  position: absolute;
  left: 20px;
  top: 0;
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  }
}

.cat-slider__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.cat-slider__button {
  width: fit-content;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  border-bottom: 1px dotted rgba($color-black, 0.24);

  &:hover,
  &:focus {
    border-bottom: 1px solid rgba($color-black, 0.4);
  }

  &:active {
    border-bottom-color: transparent;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
