.checkbox-control {
  position: relative;
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.checkbox-control__label {
  font-family: $font-custom;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $color-black;
  text-transform: uppercase;
  padding-left: 44px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 49px;
  }
}

.checkbox-control__input:disabled + .checkbox-control__label {
  opacity: 30%;
}

.checkbox-control__input + label::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $color-grey-8;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.checkbox-control__input + label:hover::before {
  border-color: $color-grey-12;
}

.checkbox-control__input:checked + label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 6px;
  width: 18px;
  height: 14px;
  background-image: url("../img/checkbox.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 24px;
    height: 19px;
    left: 10px;
  }
}
