.copyright__link {
  display: flex;
  align-items: center;
  justify-content: center;

  &:active {
    opacity: 0.3;
  }
}

.copyright__link svg {
  width: 27px;
  height: 34px;
  fill: $color-grey-4;

  &:hover,
  &:focus {
    fill: $color-green-1;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  font-size: 16px;
  line-height: 18px;
  color: $color-grey-5;
  margin-right: 140px;

  @media (min-width: $tablet-width) {
    margin-right: 22px;
  }
}
