.extra-goods__name {
  font-family: $font-custom;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $color-grey-6;
  text-transform: uppercase;
  margin-bottom: 10px;
  width: 100%;
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: auto;
    margin-right: auto;
  }
}

.extra-goods__quantity,
.extra-goods__price {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $color-grey-5;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.extra-goods__quantity {
  margin-right: 49px;

  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
  }
}

.extra-goods__price {
  margin-left: auto;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.extra-goods__parameters {
  margin: 0;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    justify-content: end;
  }
}

.extra-goods__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 245px 80px 245px 80px 245px;
    align-items: center;
  }
}

.extra-goods__button {
  margin-top: 15px;

  @media (min-width: $tablet-width) {
    margin-top: 25px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
