.footer-links {
  background-color: $color-grey-2;
}

.footer-links__list {
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-links__item--logo {
  padding: 39px 0 32px 0;
}

.footer-links__item--social {
  padding: 20px 0;

  @media (max-width: $mobile-only-width) {
    border-top: 1px solid $color-grey-3;
    border-bottom: 1px solid $color-grey-3;
  }
}

.footer-links__item--copyright {
  padding: 22px 0;
}

.footer-links__item {
  @media (min-width: $tablet-width) {
    padding: 57px 56px;
  }

  @media (min-width: $tablet-width) {
    padding: 59px 56px;
  }
}

.footer-links__logo {
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
