.header-logo {
  display: flex;
  align-items: center;
  margin-right: 10px;

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}

.header-logo__image {
  margin-right: 56px;

  @media (min-width: $tablet-width) {
    margin-right: 12px;
  }
}
