.header-logo {
  display: flex;
  align-items: center;
  margin-right: 10px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header-logo__image {
  margin-right: 56px;

  @media (min-width: $tablet-width) {
    margin-right: 12px;
  }
}
