.parameters-list {
  display: flex;
  justify-content: space-between;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.parameters-list__item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 124px;
  border: 1px solid $color-grey-8;
  border-radius: 3px;
}

.parameters-list__value {
  font-family: $font-custom;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 8px;
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.parameters-list__text {
  position: absolute;
  top: 38px;
  left: 25px;
  width: 77px;
  font-family: $font-default;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  margin: 0 auto;
  text-transform: lowercase;
  background-color: $color-grey-7;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: $color-white;
  }
}
