.program-form {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.program-form__group {
  border: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  &--main-info {
    padding-bottom: 24px;

    @media (min-width: $tablet-width) {
      padding-bottom: 72px;
    }

    @media (min-width: $desktop-width) {
      width: calc(50% - 40px);
      padding-bottom: 0;
    }
  }

  &--program-type {
    position: relative;
    padding: 22px 0 19px 0;

    @media (min-width: $tablet-width) {
      padding: 25px 28px;
      border: 1px solid $color-grey-1;
    }

    @media (min-width: $desktop-width) {
      width: calc(50% - 40px);
      padding-bottom: 0;
    }
  }

  @media (max-width: $mobile-only-width) {
    &--program-type::before,
    &--program-type::after {
      position: absolute;
      content: "";
      width: 100vw;
      height: 1px;
      background-color: $color-grey-3;
      margin-left: -20px;
    }

    &--program-type::before {
      top: 0;
    }

    &--program-type::after {
      bottom: 0;
    }
  }

  &--contacts {
    padding-top: 26px;
    padding-bottom: 13px;

    @media (min-width: $tablet-width) {
      padding-top: 75px;
      padding-bottom: 15px;
    }
  }

  &--comment {
    padding-top: 10px;
    padding-bottom: 12px;

    @media (min-width: $tablet-width) {
      padding-top: 50px;
      padding-bottom: 15px;
    }
  }

  &--additional {
    padding-top: 10px;
    padding-bottom: 34px;

    @media (min-width: $tablet-width) {
      padding-top: 50px;
      padding-bottom: 54px;
    }

    @media (min-width: $tablet-width) {
      padding-bottom: 61px;
    }
  }
}

.program-form__title {
  font-family: $font-custom;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: $color-black;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }

  &--contacts {
    margin-bottom: 35px;

    @media (min-width: $tablet-width) {
      margin-bottom: 76px;
    }
  }

  &--comment {
    margin-bottom: 37px;

    @media (min-width: $tablet-width) {
      margin-bottom: 76px;
    }
  }

  &--additional {
    margin-bottom: 34px;

    @media (min-width: $tablet-width) {
      margin-bottom: 57px;
    }
  }
}

.program-form__field {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.program-form__legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: $color-black;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.program-form__wrapper-button {
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 60px;
    padding-bottom: 72px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 82px;
    gap: 80px;
  }
}

.program-form__checkbox-list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

.program-form__button {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.program-form__list {
  &--contacts {
    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px 80px;
    }
  }

  &--contacts .program-form__field {
    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }
}
