.promo {
  position: relative;
  background: url("../img/bg_promo_cat_mob.jpg") top center no-repeat,
    linear-gradient($color-green-3 302px, $color-white 302px);

  @media (min-resolution: 2dppx) {
    background: url("../img/bg_promo_cat_mob@2x.jpg") top center no-repeat,
      linear-gradient($color-green-3 302px, $color-white 302px);
    background-size: 320px auto;
  }

  @media (min-width: $tablet-width) {
    background: none;
  }
}

.promo__wrapper {
  text-align: center;
  padding-top: 27px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 62px 0 526px 117px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0 267px 80px;
  }
}

.promo__title {
  width: 250px;
  margin: 0 auto 25px auto;
  color: $color-white;

  @media (min-width: $tablet-width) {
    width: 415px;
    color: $color-black;
    text-align: start;
    margin: 0 0 40px 0;
  }
}

.promo__slogan {
  font-family: $font-custom;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $color-white;
  margin: 0 auto 29px auto;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $color-black;
    text-align: start;
    margin: 0 0 49px 0;
  }
}

.promo__button {
  @media (min-width: $tablet-width) {
    width: 244px;
  }
}

.promo__image-wrapper {
  width: 100%;
  height: 270px;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    left: 40%;
    top: 0;
  }
}

.promo__image {
  height: 100%;
  object-fit: cover;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 709px;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
  }
}
