.radio-control__label {
  font-family: $font-custom;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $color-grey-6;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
