.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-list__item {
  margin-left: 36px;
  text-align: center;

  &:first-child {
    margin-left: 0;
  }

  @media (min-width: $tablet-width) {
    margin-left: 28px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.social-list__link svg {
  fill: $color-grey-4;

  &:hover,
  &:focus {
    fill: $color-green-1;
  }

  &:active {
    opacity: 0.3;
  }
}
