.text-field {
  display: flex;
  width: 100%;
  align-items: center;
}

.text-field__label {
  font-family: $font-custom;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.text-field__input {
  font-family: $font-custom;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $color-grey-5;
  text-transform: uppercase;
  border: 1px solid $color-grey-1;
  width: 100%;
  padding: 13px;
  margin-left: 15px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &::placeholder {
    color: $color-grey-5;
  }

  &--textarea {
    margin-left: 0;
    resize: none;
  }
}
