.work {
  margin-bottom: 53px;

  @media (min-width: $tablet-width) {
    margin-bottom: 104px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 205px;
  }
}

.work__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  counter-reset: num;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 230px 230px;
    grid-column-gap: 153px;
    grid-row-gap: 37px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.work__item {
  display: flex;
  column-gap: 20px;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 230px;
    flex-direction: column;
    padding: 40px 29px 57px 0;

    &::after {
      content: counter(num);
      position: absolute;
      counter-increment: num;
      font-family: $font-custom;
      font-size: 280px;
      line-height: 280px;
      font-weight: 400;
      color: $color-grey-2;
      z-index: -10;
      right: 0;
      top: 0;
    }
  }
}

.work__item img {
  margin-bottom: 31px;
}

.work__text {
  width: 180px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
